body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

main {
    padding: 16px;
}

footer {
    background-color: #8C6A03;
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
}

img {
    height: 200px;
}

nav {
    background-color: #BABF15;
    border-color: black;
    border-bottom: 1px solid;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.title-color {
    color: #000000;
}

.vt-color {
    color: #8C6A03;
}

.stars-color {
    color: #265902;
}

tr:nth-child(even):not(.disabled) {
   background-color: #F2F2F2;
}

.bold-text {
    font-weight: 800;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 2rem;
}

a {
text-decoration: none;
color: #72A603;
}

#nav-link {
color: #0442BF;
}

#footer-color {
color: #F2F2F2;
position: fixed;
bottom: 16px;
width: 100%;
}

footer {
    border-color: black;
    border-top: 1px solid;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}
